
<a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
<p>
 <input
  class="form-control" name="term" type="text" [(ngModel)]="term" placeholder="Search...">
</p>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>

<tbody>
  <tr *ngFor="let product of products$ | async | filter : term">
    <td> {{product.data.title}} </td>
    <td> {{product.data.price}} </td>
    <td> <a  [routerLink]="['/admin/products/', product.key]" routerLinkActive="router-link-active">Edit</a> </td>
  </tr>
</tbody>
</table>

<!-- #query
(keyup)="filter(query.value)" -->
